.curtain_curtain__zvWQR {
    position: fixed;
    z-index: 9;
    inset: 0;
    pointer-events: none
}

.curtain_curtain__zvWQR .curtain_overlay__5cr7G {
    position: absolute;
    inset: 0;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden
}

.curtain_curtain__zvWQR .curtain_inner__eyyXU {
    position: absolute;
    inset: var(--layout-margin);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    color: var(--white);
    align-items: center;
    background-color: var(--black);
    pointer-events: all
}

@media(max-width:799px) {
    .curtain_curtain__zvWQR .curtain_inner__eyyXU {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 var(--layout-margin)
    }
}

.curtain_curtain__zvWQR .curtain_cross1__R6wO6 svg,
.curtain_curtain__zvWQR .curtain_cross2__6m1Hg svg,
.curtain_curtain__zvWQR .curtain_cross3__lDPyC svg,
.curtain_curtain__zvWQR .curtain_cross4__QdHv_ svg {
    aspect-ratio: 1;
    width: 6.4vw
}

@media(min-width:800px) {

    .curtain_curtain__zvWQR .curtain_cross1__R6wO6 svg,
    .curtain_curtain__zvWQR .curtain_cross2__6m1Hg svg,
    .curtain_curtain__zvWQR .curtain_cross3__lDPyC svg,
    .curtain_curtain__zvWQR .curtain_cross4__QdHv_ svg {
        width: 1.6666666667vw
    }
}

.curtain_curtain__zvWQR .curtain_cross1__R6wO6 svg path,
.curtain_curtain__zvWQR .curtain_cross2__6m1Hg svg path,
.curtain_curtain__zvWQR .curtain_cross3__lDPyC svg path,
.curtain_curtain__zvWQR .curtain_cross4__QdHv_ svg path {
    fill: currentColor
}

.curtain_curtain__zvWQR .curtain_cross1__R6wO6 {
    grid-column: span 2;
    display: flex;
    padding-left: 1.6666666667vw
}

.curtain_curtain__zvWQR .curtain_cross1__R6wO6 svg:not(:last-child) {
    margin-right: -1.6vw
}

@media(min-width:800px) {
    .curtain_curtain__zvWQR .curtain_cross1__R6wO6 svg:not(:last-child) {
        margin-right: -.4166666667vw
    }
}

.curtain_curtain__zvWQR .curtain_cross2__6m1Hg {
    grid-column: 5/span 1;
    justify-self: flex-end
}

@media(max-width:799px) {
    .curtain_curtain__zvWQR .curtain_cross2__6m1Hg {
        display: none
    }
}

.curtain_curtain__zvWQR .curtain_title__Nxqe4 {
    overflow: hidden;
    grid-column: 7/-7;
    text-align: center
}

.curtain_curtain__zvWQR .curtain_title__Nxqe4 span {
    display: inline-block
}

.curtain_curtain__zvWQR .curtain_cross3__lDPyC {
    grid-column: -7;
    justify-self: flex-end
}

.curtain_curtain__zvWQR .curtain_cross4__QdHv_ {
    grid-column: span 2/-1;
    display: flex;
    padding-right: 1.6666666667vw;
    margin-left: auto
}

.curtain_curtain__zvWQR .curtain_cross4__QdHv_ svg:not(:last-child) {
    margin-right: -.4166666667vw
}

@media(max-width:799px) {
    .curtain_curtain__zvWQR .curtain_cross4__QdHv_ {
        display: none
    }
}

.rrepov_page__qxBAi {
    overflow: hidden
}

.rrepov_page__qxBAi .rrepov_hero__4q32e {
    align-items: center;
    position: relative
}

@media(min-width:800px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e {
        height: calc(100*var(--svh, 1vh))
    }
}

@media(max-width:799px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e {
        padding-top: var(--header-height);
        padding-bottom: 21.3333333333vw
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_title__sbDcG {
    margin-bottom: 4.2666666667vw
}

@media(min-width:800px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_title__sbDcG {
        margin-bottom: 1.1111111111vw
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_eyebrow__x4jsd {
    margin-bottom: 6.4vw
}

@media(min-width:800px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_eyebrow__x4jsd {
        margin-bottom: 3.3333333333vw
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_description__duQVI {
    margin-bottom: 6.4vw
}

@media(min-width:800px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_description__duQVI {
        margin-bottom: 1.6666666667vw
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_content__2_zqi {
    width: calc(8*var(--layout-column-width) + (8 - 1)*var(--layout-columns-gap))
}

@media(max-width:799px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_content__2_zqi {
        width: 100%;
        grid-column: 1/-1
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_image__BMNkb {
    position: relative;
    grid-column: 11/-1;
    width: 47.7083333333vw;
    aspect-ratio: 687/616
}

@media(max-width:799px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_image__BMNkb {
        grid-row: 1;
        width: 100%;
        aspect-ratio: 327/328;
        grid-column: 1/-1
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_image__BMNkb>* {
    position: absolute;
    inset: 0
}

@media(max-width:799px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_links__Zy62L {
        justify-content: flex-start
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_links__Zy62L .rrepov_link__a09co {
    margin-right: .5555555556vw
}

@media(max-width:799px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_links__Zy62L .rrepov_link__a09co {
        margin-right: 2.1333333333vw;
        margin-bottom: 2.1333333333vw
    }
}

.rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_links__Zy62L .rrepov_link__a09co .rrepov_arrow__Z3esa {
    opacity: .5;
    width: 2.6666666667vw;
    margin-right: 4.2666666667vw
}

@media(min-width:800px) {
    .rrepov_page__qxBAi .rrepov_hero__4q32e .rrepov_links__Zy62L .rrepov_link__a09co .rrepov_arrow__Z3esa {
        margin-right: 1.1111111111vw;
        width: .6944444444vw
    }
}